.results {
  min-height: 100vh;
  padding-top: 4rem;
  background: #ccc;
  box-sizing: border-box;

  .tile-container {
    display: flex;
    flex-wrap: wrap;
  }

  .empty {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    font-weight: 700;
    color: #bbb;
    text-shadow: 0 1px 1px #ddd;
  }

  .finish {
    font-size: 2rem;
    font-weight: 700;
    color: #bbb;
    text-shadow: 0 1px 1px #ddd;
    padding: 2rem;
    text-align: center;
  }

  .results-spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50%;
    transform: translateX(-50%);
  }
}
